In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
dframe_wine = pd.read_csv('winequality-red.csv', sep=';')

In [3]:
dframe_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
def ranker(df):
    df['alc_content_rank'] = np.arange(len(df)) + 1
    return df

In [5]:
dframe_wine.sort_values('alcohol', ascending=False, inplace=True)

In [6]:
quality_group = dframe_wine.groupby('quality')
quality_group.groups

{3: Int64Index([899, 1299, 690, 1478, 1505, 832, 1374, 1469, 459, 517], dtype='int64'),
 4: Int64Index([  45, 1276, 1239, 1124, 1235,  813,  199,  633, 1176,  724, 1261,
             1307, 1467,  647,  659, 1423,  876, 1484,  830,   94,  224,  937,
             1369, 1482, 1480, 1461,  600,  576,  872,  833,  266, 1363,   38,
              704, 1293, 1263, 1238, 1189,  703,  573,  409,  151,  261,   41,
             1233,  927,  161,   73,  170,   79, 1521,   18,  167],
            dtype='int64'),
 5: Int64Index([ 652,  353, 1287,  132,  131, 1052, 1119, 1105, 1471, 1186,
             ...
             1457,  367,  463, 1533,  593,   89,  120, 1474, 1476, 1436],
            dtype='int64', length=681),
 6: Int64Index([ 142,  144, 1270,  467, 1114, 1126,  484,  378, 1118,  910,
             ...
              496,  238,  235,  234,  601, 1434, 1435,  371,  528,  544],
            dtype='int64', length=638),
 7: Int64Index([ 821, 1228, 1132, 1477, 1475,  492,  491,  198,  395,  802,
             ...
             1089, 1088,  583,  339,  943,   37,    8,   62,  243,  244],
            dtype='int64', length=199),
 8: Int64Index([ 588, 1269,  455, 1120,  390,  267,  828,  278, 1061, 1090, 1202,
              481, 1549, 1449,  495,  498, 1403,  440],
            dtype='int64')}

In [7]:
quality_group.get_group(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
899,8.3,1.020,0.02,3.40,0.084,6.0,11.0,0.99892,3.48,0.49,11.00,3
1299,7.6,1.580,0.00,2.10,0.137,5.0,9.0,0.99476,3.50,0.40,10.90,3
690,7.4,1.185,0.00,4.25,0.097,5.0,14.0,0.99660,3.63,0.54,10.70,3
1478,7.1,0.875,0.05,5.70,0.082,3.0,14.0,0.99808,3.40,0.52,10.20,3
1505,6.7,0.760,0.02,1.80,0.078,6.0,12.0,0.99600,3.55,0.63,9.95,3
832,10.4,0.440,0.42,1.50,0.145,34.0,48.0,0.99832,3.38,0.86,9.90,3
1374,6.8,0.815,0.00,1.20,0.267,16.0,29.0,0.99471,3.32,0.51,9.80,3
1469,7.3,0.980,0.05,2.10,0.061,20.0,49.0,0.99705,3.31,0.55,9.70,3
459,11.6,0.580,0.66,2.20,0.074,10.0,47.0,1.00080,3.25,0.57,9.00,3
517,10.4,0.610,0.49,2.10,0.200,5.0,16.0,0.99940,3.16,0.63,8.40,3

In [8]:
#np.arange(len(quality_group.get_group(5))) + 1

In [9]:
dframe_wine = quality_group.apply(ranker)

In [10]:
dframe_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alc_content_rank
652,15.9,0.36,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.9,5,1
588,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8,1
142,5.2,0.34,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.0,6,1
144,5.2,0.34,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.0,6,2
1270,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6,3

In [15]:
#dframe_wine['alc_content_rank'].value_counts()

In [12]:
num_of_qual = dframe_wine['quality'].value_counts()

In [13]:
num_of_qual

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [14]:
dframe_wine[dframe_wine.alc_content_rank==1]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alc_content_rank
652,15.9,0.36,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.9,5,1
588,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8,1
142,5.2,0.34,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.0,6,1
821,4.9,0.42,0.00,2.1,0.048,16.0,42.0,0.99154,3.71,0.74,14.0,7,1
45,4.6,0.52,0.15,2.1,0.054,8.0,65.0,0.99340,3.90,0.56,13.1,4,1
899,8.3,1.02,0.02,3.4,0.084,6.0,11.0,0.99892,3.48,0.49,11.0,3,1